.rootDiv {
  border-left: 2px dashed black;
  margin-left: 5px;
  padding-left: 20px;
}

.date {
  font-weight: bold;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.role {
  color: #1a7d63;
}
